name: Validate and Index All FASTA Files

on:
  push:
    branches:
      - main
    paths:
      - 'fasta/*.fasta'
      - '.github/workflows/validate_fasta.yml'

jobs:
  validate_fasta:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dos2unix
      run: sudo apt-get update && sudo apt-get install -y dos2unix

    - name: Convert line endings from DOS to Unix
      run: |
        for fasta_file in fasta/*.fasta; do
          if [[ "$fasta_file" == *.fasta ]]; then
            echo "Converting $fasta_file from DOS to Unix format"
            dos2unix "$fasta_file"
          fi
        done

    - name: Validate FASTA
      run: |
        for fasta_file in fasta/*.fasta; do
          if [[ "$fasta_file" == *.fasta ]]; then
            # Check corresponding CSV and GFF files
            base_name=$(basename "$fasta_file" .fasta)
            if [[ ! -f "csv/${base_name}.csv" &&  ! -f "gff/${base_name}.gff" ]]; then
              echo "Error: Corresponding CSV or GFF file for $fasta_file not found."
              exit 1
            fi
            # Validate FASTA file
            docker run --rm -v ${{ github.workspace }}:/workspace quay.io/biocontainers/py_fasta_validator:0.6--py38hd638cd3_4 py_fasta_validator -f /workspace/$fasta_file
          fi
        done

    - name: Index FASTA with Samtools
      run: |
        for fasta_file in fasta/*.fasta; do
          if [[ "$fasta_file" == *.fasta ]]; then
            echo "Indexing FASTA file: $fasta_file"
            # Index FASTA file
            docker run --rm -v ${{ github.workspace }}:/workspace quay.io/biocontainers/samtools:1.20--h50ea8bc_0 samtools faidx /workspace/$fasta_file
          fi
        done

    - name: Commit and push index files
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add fasta/*.fasta.fai
        git commit -m "Add generated FASTA index files"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

